<%-include('../components/header.ejs') %>

    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4035c7ad71f6e47af7c2f9acd466b4f"></script>
    <script src="/client/js/course.js" defer></script>
  </head>	
  <body>
    <nav class="flex-c-c-c component-title-nav">
      <p class="flex-c-c nav-title theme-font">GPS 카카오 연동</p>
      <div class="flex-c-c nav-sub-title">코스안내</div>
    </nav>
    <div class="content-container">
      <div class="test hidden" style="width: 300px; height: 100px; position:fixed; bottom: 100px; left:50%; transform: translateX(-50%); background-color: rgba(0,0,0,0.5); z-index: 99;">
      </div>
      <ul class="course_detail_btn mb-20">
        <li id="young-jin" class="course">
          <div class="hidden mark-wrap young-jin-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
          <p>영진</p>
        </li>
        <li id="guk-bob" class="course">
          <div class="hidden mark-wrap guk-bob-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
          <p>국밥</p>
        </li>
        <li id="jeju-pig" class="course">
          <div class="hidden mark-wrap jeju-pig-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
        <p>흑돈</p>
      </li>
        <li id="subway" class="course" >
          <div class="hidden mark-wrap subway-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
        <p>지하철 출구</p>
      </li>
        <li id="my-position" class="course" >나의 위치</li>
      </ul>
      <div id="location-map"></div>
    </div>
    <input type="hidden" id="db-value" value="<%=db%>" />
  
<%-include('../components/footer.ejs') %>