<%-include('../components/header.ejs') %>
</head>
<body>
  <div class="main-background">
    <p class="title theme-font">용계역 여행</p>
    <div class="img-wrap">
      <img src="/file/main.gif">
    </div>
  </div>
<%-include('../components/footer.ejs') %>