<%-include('../components/header.ejs') %>
<script src="/client/js/mypage.js" defer></script>
</head>
<body>
  <div class="main-background">
    <p class="mypage-name theme-font"><span><%= name %></span> 님 안녕하세요</p>
    <ul class="mypage-btn-wrap">
      <li class="mypage-btn">로그아웃</li>
    </ul>
  </div>
<%-include('../components/footer.ejs') %>