<%-include('../components/header.ejs') %>
<script src="/client/library/jsQR.js"></script>
<script src="/client/js/qr.js" defer></script>
</head>
<body>
  <nav class="nav-container">
    <p class="nav-title theme-font">용계역 여행</p>
    <div class="nav-sub-title">QR 인증</div>
  </nav>
  <div class="content-container">
    <div class="qr-container">
      <p class="wait-text">화면을 인식중입니다.</p>
    </div>
    <div class="canvas-wrap">
      <canvas id="canvas" width="300" height="300"></canvas>
    </div>
  </div>
  
<%-include('../components/footer.ejs') %>