<%-include('../components/header.ejs') %>
</head>
<body>
  <nav class="nav-container">
    <p class="nav-title theme-font">용계역 여행</p>
    <div class="nav-sub-title">이용안내</div>
  </nav>

  <div class="content-container">
    <div class="used-title-wrap">
      <p>용계역 주변을 여행하자111</p>
    </div>
    <div class="used-content-wrap">
      <p>1. 하단 코스안내 탭에서 소개된 곳을 방문합니다.</p>
      <p>2. 그곳에 위치한 QR코드를 찾습니다.</p>
      <p>3. 하단 QR 탭을 클릭하여 QR코드를 찍습니다.</p>
      <p>4. 코스안내 탭에서 여행 인증을 확인할 수 있습니다.</p>
    </div>
  </div>
<%-include('../components/footer.ejs') %>