/* content nav */
.component-title-nav {
  position: fixed; 
  width: 100%; 
  height: 110px; 
  background-color: #fff; top:0;
  z-index: 20;
}
.nav-title {
  font-size: 30px; 
  height: 100%;
}
.nav-sub-title {
  width: 100%;
  height: 55px;
  background: #ce3236; 
  color:#fff; 
  font-size: 18px; 
  font-weight: bold;
}
/* 홈을 제외한 content wrap */
.content-container {
  width: 100vw; 
  min-height: calc(100vh - 170px);
  margin-top: 110px;
}


/* footer */

.footer-container {
  position: fixed; 
  bottom:0; left:0; right:0; 
  height: 60px; 
  border-top: solid 1px rgb(153, 150, 150);
  z-index: 20;
  background-color: #fff;
}
.footer-li {
  width: 25%; height:100%;
}
.click-on {
  color: red
}



/* home */

.main-background {
  width: 100vw; 
  height: calc(100vh - 60px);
}
.main-img-wrap {
  width: 200px; 
  height:200px; 
  border-radius: 50%; 
  overflow: hidden;
}
.main-title {
  font-size: 40px;
}

/* 인사말 */

.introduce-title-wrap {
  color: #a1805f;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  font-size: 20px;
  font-family: 'Pretendard-ExtraBold' !important;
  letter-spacing: 2px;
}
.introduce {
  font-family: "Pretendard-Medium";
  padding: 0 40px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

/* 코스 소개 */
.course_detail_btn {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.course {
  position: relative;
  width: 31%;
  text-align: center;
  border: 2px solid;
  border-radius: 30px;
  margin: 1%;
  padding: 1vh 0;
  font-weight: 500;
  border-color: rgb(221, 221, 221);
  background-color: rgb(238, 238, 238);
  font-family: "Pretendard-Medium";
}
#location-map {
  width: 90%;
  height: 400px;
  margin:0 auto;
}
.pick-on {
  border-color: #758cff !important;
  background-color: #758cff !important;
  color: #fff;
}
.mark-wrap {
  position: absolute; 
  width: 50px; 
  height: 50px; 
  right: 0; 
  top: -10px; 
  z-index: 15;
}