<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>GPS 카카오 연동</title>
		<meta charset="utf-8" />  
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/client/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4035c7ad71f6e47af7c2f9acd466b4f"></script>
    <script src="/client/js/course.js" defer></script>
  </head>	
  <body>

    <nav class="flex-c-c-c component-title-nav">
      <p class="flex-c-c nav-title theme-font">GPS 카카오 연동</p>
      <div class="flex-c-c nav-sub-title">코스안내</div>
    </nav>
    <div class="content-container">
      <div class="test hidden" style="width: 300px; height: 100px; position:fixed; bottom: 100px; left:50%; transform: translateX(-50%); background-color: rgba(0,0,0,0.5); z-index: 99;">
      </div>
      <ul class="course_detail_btn mb-20">
        <li id="young-jin" class="course">
          <div class="hidden mark-wrap young-jin-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
          <p>영진</p>
        </li>
        <li id="guk-bob" class="course">
          <div class="hidden mark-wrap guk-bob-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
          <p>국밥</p>
        </li>
        <li id="jeju-pig" class="course">
          <div class="hidden mark-wrap jeju-pig-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
        <p>흑돈</p>
      </li>
        <li id="subway" class="course" >
          <div class="hidden mark-wrap subway-mark">
            <img class="w100-h100" src="/client/file/complete.png" />
          </div>
        <p>지하철 출구</p>
      </li>
        <li id="my-position" class="course" >나의 위치</li>
      </ul>
      <div id="location-map"></div>
    </div>
    
    <footer class="theme-font footer-container">
      <ul class="flex-n-c h-100">
        <li class="footer-li">
          <a href="/" class="flex-even-c-c h-100">
            <i class="fas fa-home"></i>
            <p>홈</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/greet" class="flex-even-c-c h-100">
            <i class="fas fa-user-alt"></i>
            <p>인사말</p>
          </a>
        </li>
        <li class="footer-li click-on">
          <a href="/course" class="flex-even-c-c h-100">
            <i class="fas fa-road"></i>
            <p>코스 안내</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/qr" class="flex-even-c-c h-100">
            <i class="fas fa-qrcode"></i>
            <p>QR</p>
          </a>
        </li>
      </ul>
    </footer>

    <input type="hidden" id="db-value" value="<%=db%>" />
  </body>
</html>