<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>GPS 카카오 연동</title>
		<meta charset="utf-8" />  
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/client/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/font.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/client/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>
  <body>
    <div class="main-background flex-c-c-c">
      <p class="theme-font main-title mb-30">GPS 카카오 연동</p>
      <div class="main-img-wrap">
        <img class="w100-h100" src="/client/file/main.gif">
      </div>
    </div>

    <footer class="theme-font footer-container">
      <ul class="flex-n-c h-100">
        <li class="footer-li click-on">
          <a href="/" class="flex-even-c-c h-100">
            <i class="fas fa-home"></i>
            <p>홈</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/greet" class="flex-even-c-c h-100">
            <i class="fas fa-user-alt"></i>
            <p>인사말</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/course" class="flex-even-c-c h-100">
            <i class="fas fa-road"></i>
            <p>코스 안내</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/qr" class="flex-even-c-c h-100">
            <i class="fas fa-qrcode"></i>
            <p>QR</p>
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>