<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div>test</div>
  <script>
    /* 
      문제1 
      method: post 
      주소: /ajax/query
      query 형태
      key값: api_key 
      value: node
    */
    /* 
      문제2
      method: post 
      주소: /ajax/body
      body에 json으로
      key값: data
      value는 아무렇게 넣으셔도됩니다.
    */

    /*
  fetch("/ajax/query?api_key=node", {
    method: "POST",
  })
    .then(function (res) {
      return res.json();
    })
    .then(function (data) {
      console.log(data)
    });

  fetch("/ajax/body", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      data: 'test',
    }),
  })
    .then(function (res) {
      return res.json();
    })
    .then(function (data) {
      console.log(data)
    });
    $.ajax({
      url: "/ajax/query?api_key=node",
      type: "POST",
      success: function(data) {
        console.log(data)
      }
    })
    $.ajax({
      url: "/ajax/body",
      type: "POST",
      data: {
        data: "test"
      },
      success: function(data) {
        console.log(data)
      }
    })
    */
  </script>
</body>
</html>