<%-include('../components/header.ejs') %>
  <script src="/client/js/join.js" defer></script>
</head>
<body>
  <div class="join-container">
    <div class="back-btn">
      <a href="/users/login">뒤로가기</a>
    </div>
    <p class="title theme-font">회원가입</p>
    <div class="form-container sign-in-container">
      <form id="joinForm" class="join-form">
        <input id="id" name="id" type="text" placeholder="아이디" />
        <input id="pw" name="pw" type="password" placeholder="비밀번호" />
        <input id="name" name="name" type="text" placeholder="이름" />
        <div class="join-btn">회원가입</div>
      </form>
      
    </div>
    
  </div>
</body>
</html>