<%-include('../components/header.ejs') %>
  <script src="/client/js/login.js" defer></script>
</head>
<body>
  <div class="login-container">
    <p class="title theme-font">용계역 여행</p>
    <div class="form-container sign-in-container">
      <form id="loginForm" class="login-form">
        <input id="id" name="id" type="text" placeholder="아이디" />
        <input id="pw" name="pw" type="password" placeholder="비밀번호" />
        <div class="login-btn">로그인</div>
        <div class="join-btn">
          <a href="/users/join">계정이 없으신가요?</a></div>
      </form>
      
    </div>
    
  </div>
</body>
</html>