<%-include('../components/header.ejs') %>
  </head>
  <body>
    <div class="main-background flex-c-c-c">
      <p class="theme-font main-title mb-30">GPS 카카오 연동</p>
      <div class="main-img-wrap">
        <img class="w100-h100" src="/client/file/main.gif">
      </div>
    </div>
<%-include('../components/footer.ejs') %>