/* footer */
.footer-container { position: fixed; bottom:0; left:0; right:0; height: 60px; border-top: solid 1px rgb(153, 150, 150); z-index: 20; background-color: #fff; }
.footer-container .footer-wrap { display: flex; align-items: center; height: 100%; }
.footer-container .footer-wrap .bottom-menu { width: 20%; height: 100%; }
.footer-container .footer-wrap .bottom-menu { display: flex; justify-content: space-evenly; align-items: center; flex-direction: column; height:100%; }
.footer-container .footer-wrap .bottom-menu.on { color: red; }

/* nav */
.nav-container { position: fixed; width: 100%; height: 110px; background-color: #fff; top:0; z-index: 20; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.nav-container .nav-title { display: flex; justify-content: center; align-items: center; font-size: 30px;  height: 100%; }
.nav-container .nav-sub-title { width: 100%; height: 55px; background: #ce3236;  color:#fff;  font-size: 18px;  font-weight: bold; display: flex; justify-content: center; align-items: center; }

/* common */
.content-container {  width: 100%; height: calc(100vh - 170px);  margin-top: 110px; position: relative; }

/* home */
.main-background { width: 100vw; height: calc(100vh - 60px); display: flex; justify-content: center; align-items: center; flex-direction: column; }
.main-background .title { font-size: 25px; font-width: bold;}
.main-background .img-wrap { width: 220px; height: 220px; border-radius: 50%; overflow: hidden; margin-top: 20px; }
.main-background .img-wrap img { width: 100%; height: 100%; }

/* used */
.used-title-wrap { color: #a1805f; text-align: center; margin: 0 auto; padding: 30px; font-size: 20px; font-family: 'Pretendard-ExtraBold' !important; letter-spacing: 2px; }
.used-content-wrap { font-family: "Pretendard-Medium"; padding: 0 40px; font-size: 18px; text-align: center; font-weight: bold; }
.used-content-wrap p { line-height: 2; font-size: 14px; }

/* course */
.course-wrap { display: flex; flex-wrap: wrap; padding: 20px 10px; }
.course-wrap .course { position: relative; width: 31%; text-align: center; border: 2px solid; border-radius: 30px; margin: 1%; padding: 1vh 0; font-weight: 500; border-color: rgb(221, 221, 221); background-color: rgb(238, 238, 238); font-family: "Pretendard-Medium"; }
.course-wrap .course.on { border-color: #758cff !important; background-color: #758cff !important; color: #fff;}
.course-wrap .course .mark-wrap { position: absolute;  width: 60px; height: 30px; right: 0; top: -10px; z-index: 15; }
.course-wrap .course .mark-wrap img { width: 100%; height: 100%; }
#location-map { width: 90%; height: 50vh; margin:0 auto; }

/* qr */
.qr-container { width: 100%; padding-top: 30px; }
.wait-text { text-align: center; font-weight: bold; font-size:20px; }
.canvas-wrap { display: flex; align-items: center; justify-content: center; padding-top: 50px; }

.b { color: red; }


/* login */
.login-container { width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.login-container .title { font-size: 25px; margin-bottom: 20px;}
.login-form { background-color: #FFFFFF; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 50px; height: 100%; text-align: center; }
.login-form input { background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 100%; }
.login-form .login-btn { margin-top: 20px; border-radius: 20px; border: 1px solid #FF4B2B; background-color: #FF4B2B; color: #FFFFFF;font-size: 12px;font-weight: bold; padding: 12px 45px; letter-spacing: 1px; text-transform: uppercase; transition: transform 80ms ease-in; }
.login-form .login-btn:active { transform: scale(0.95); }
.login-form .login-btn:focus { outline: none; }
.login-form .join-btn { font-size: 14px; margin-top: 20px; font-weight: bold;}

/* mypage */
.mypage-name { font-size: 20px; }
.mypage-name span { font-size: 25px;}
.mypage-btn-wrap { margin-top: 20px; }
.mypage-btn-wrap li { font-weight: bold; font-size: 20px; background-color: rgb(135, 135, 191); padding: 20px 90px; }

/* join */
.join-container { width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.join-container .back-btn { position: absolute; top: 30px; left: 30px; font-weight: bold; }
.join-container .title { font-size: 25px; margin-bottom: 20px;}
.join-form { background-color: #FFFFFF; display: flex; align-items: center; justify-content: center; flex-direction: column; padding: 0 50px; height: 100%; text-align: center; }
.join-form input { background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 100%; }
.join-form .join-btn { margin-top: 20px; border-radius: 20px; border: 1px solid #22f74c; background-color: #22f74c; color: #000000;font-size: 12px;font-weight: bold; padding: 12px 45px; letter-spacing: 1px; text-transform: uppercase; transition: transform 80ms ease-in; }