<%- include('common/header.ejs') %>
  <div class="full-container empty-background">
    <div class="login-form">
      <input type="text" id="userId" placeholder="아이디" required>
      <input type="password" id="userPassword" placeholder="비밀번호" required>
      <div class="button-wrap">
        <button class="join">회원가입</button>
        <button class="login">로그인</button>
      </div>
    </div>

    <a href="/api/auth/kakao" class="kakao-login-button-wrap">
      <img src="/file/kakao_login_large_narrow.png" />
    </a>
  </div>
  <script src="/js/login.js"></script>
</body>
</html>