<%- include('common/header.ejs') %>
  
  <div class="container empty-background">
    <nav class="nav">
      <p class="title">용계역 여행</p>
      <div class="sub-title">회원 관리</div>
    </nav>
    <div class="content-container">
      <div id="usersNav" class="users-container"></div>
    </div>
  </div>

  <%- include('common/footer.ejs') %>
  <script src="/js/users.js"></script>
  </body>
</html>