
    <footer class="theme-font footer-container">
      <ul class="flex-n-c h-100">
        <li class="footer-li">
          <a href="/" class="flex-even-c-c h-100">
            <i class="fas fa-home"></i>
            <p>홈</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/greet" class="flex-even-c-c h-100">
            <i class="fas fa-user-alt"></i>
            <p>인사말</p>
          </a>
        </li>
        <li class="footer-li">
          <a href="/course" class="flex-even-c-c h-100">
            <i class="fas fa-road"></i>
            <p>코스 안내</p>
          </a>
        </li>
        <li class="footer-li click-on" > <!--onclick="window.HybridApp.QR_Btn();" -->
            <a href="/qr" class="flex-even-c-c h-100">
            <i class="fas fa-qrcode"></i>
            <p>QR</p>
            </a>
        </li>
      </ul>
    </footer>
    <script>
      const footerCss = (() => {
        // css 변경 script
        // window.location.pathname
      })
    </script>
    
  </body>
</html>