<footer class="theme-font footer-container">
  <ul class="footer-wrap">
    <li class="bottom-menu" data-url="/">
      <i class="fas fa-home"></i>
      <p>홈</p>
    </li>
    <li class="bottom-menu" data-url="/used">
      <i class="fas fa-info"></i>
      <p>이용안내</p>
    </li>
    <li class="bottom-menu" data-url="/course">
      <i class="fas fa-road"></i>
      <p>코스 안내</p>
    </li>
    <li class="bottom-menu" data-url="/qr">
      <i class="fas fa-qrcode"></i>
      <p>QR</p>
    </li>
    <li class="bottom-menu" data-url="/mypage">
      <i class="fas fa-user"></i>
      <p>마이페이지</p>
    </li>
  </ul>
</footer>
<script>
  const bottomMenus = document.querySelectorAll(".bottom-menu");

  const phoneTypeCheck = () => {
    if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) return 'ios';
    else if (/Android/i.test(navigator.userAgent)) return 'android';
    else return 'pc';
  };

  const movePage = (e) => {
    const clickUrl = e.currentTarget.dataset.url;
    if (clickUrl === "/qr" && phoneTypeCheck() != "pc") return window.HybridApp.QR_Btn();
    location.href = clickUrl;
  }

  bottomMenus.forEach((bottomMenu) => {
    const url = window.location.pathname;
    if (bottomMenu.dataset.url === url) bottomMenu.classList.add("on");
    else bottomMenu.addEventListener("click", movePage);
  })
  const toastMessage = (message) => {
    Swal.mixin({
      toast: true,
      position: "bottom",
      showConfirmButton: false,
      timer: 2000,
    }).fire({ title: `${message}`, icon: "error" });
  }
  const output = async (qrCode) => {
    const data = await (await fetch("/qr", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Accept": "application/json"
      },
      body: JSON.stringify({ code: qrCode }),
    })).json();
    if (data.code === "OK") location.href = "/course"
    else toastMessage(data.message)
  }

</script>
</body>

</html>